<html>
<head></head>
<body>
<h1>Welcome to Angular</h1>
<div ng-app="app">
    <div ng-controller="appController as appCtrl">
        <h2>Models string</h2>
        <p>Model1 value: {{appCtrl.firstName}}</p>
        <p>Model2 value: {{appCtrl.lastName}}</p>


        <input type="text" name="firstName" ng-model="appCtrl.firstName" />
        <input type="text" name="firstName" ng-model="appCtrl.lastName" />

        <h2>Models numbers</h2>
        <p>Your random number is: <span ng-bind="appCtrl.randomNumber"></span></p>

        <button ng-click="appCtrl.calculateNumber()">Calculate</button>
    </div>
</div>



<!-- ANGULAR CORE -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>


<!-- ANGULAR DEPENDENCIES -->
<script src="src/app.js"></script>
<script src="src/bestController.js"></script>

</body>
</html>